block mapascripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC69q4cWqAg7oJHdYNu9ZTl2C6zSaTrUeA&sensor=false")
	script(src="/javascripts/jquery/jquery-1.10.2.min.js")
	script(src="/javascripts/jquery-ui/jquery-ui-1.10.3.custom.min.js")
	script(src="/javascripts/leaflet/leaflet.js")
	script(src="/javascripts/leaflet/plugins/leaflet-providers.js")
	script(src="/javascripts/leaflet/plugins/markercluster/leaflet.markercluster-src.js")
	script(src="/javascripts/leaflet/plugins/layer/tile/Google.js")
	script(src="/javascripts/leaflet/plugins/layer/tile/Bing.js")
	script(src="/javascripts/bootstrap/bootstrap.min.js")
	script(src="/javascripts/kendo/kendo.web.min.js")
	script(src="/javascripts/kendo/cultures/kendo.culture.es-CO.min.js")
	script(src="/javascripts/knockout/knockout-2.3.0.js")
	script(src="/javascripts/knockout-kendoui/knockout-kendo.min.js")
	script(src="/javascripts/sibcolombia/map-initialize.js")
	script(src="/javascripts/sibcolombia/registrosbiologicos.js")
	script(src="/javascripts/custom-scrollbar/jquery.mCustomScrollbar.min.js")
	script(src="/javascripts/custom-scrollbar/jquery.mousewheel.min.js")