lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
explorador.sublime-project
explorador.sublime-workspace
temp/
logs/
public/components
npm-debug.log
sonar-project.properties
.sonar/
.python-version

pids
logs
results

npm-debug.log
node_modules
