extends ../../../layouts/layout

block content
	script
		var totalOccurrences = !{totalOccurrences}
		var totalGeoOccurrences = !{totalGeoOccurrences}
	.container-fluid
		.row-fluid
			section#map-filter-area
				.tabbable
					ul.nav.nav-pills
						#actual-search-stats-data
							span.title Resultados 
								strong(data-bind="text: totalOccurrences")
								|  registros 
								span.subtitle (
									span(data-bind="text: totalGeoOccurrences")
									|  georeferenciados)
						li.pull-right.tabla
							a(href='#tab2', data-toggle='tab') VER TABLA
						li.active.pull-right.mapa
							a(href='#tab1', data-toggle='tab') VER MAPA
					#filterZone.open
						include filterWindow
					.tab-content
						.tab-pane.active(id='tab1')
							#pane
								#mapa
						.tab-pane(id='tab2')
							h1= title
							p Welcome to #{title}
	include mapascripts