extends ../../../layouts/layout

block content
	script.
		var totalOccurrences = !{totalOccurrences}
		var totalGeoOccurrences = !{totalGeoOccurrences}
	.container-fluid
		.row-fluid
			section#map-filter-area
				.tabbable
					ul.nav.nav-pills
						#actual-search-stats-data
							span.title Resultados 
								strong(data-bind="text: totalOccurrences")
								|  registros 
								span.subtitle (
									span(data-bind="text: totalGeoOccurrences")
									|  georeferenciados)
						li.pull-right.tabla
							a(href='#tab2', data-toggle='tab') VER TABLA
						li.active.pull-right.mapa
							a(href='#tab1', data-toggle='tab') VER MAPA
					.tab-content
						.tab-pane.active(id='tab1')
							#pane
								#mapa
							#filterZone.open
								include filterWindow
						.tab-pane(id='tab2')
							#reportGrid(data-bind="kendoGrid: gridOptions")
							//script.
							//	var initialGridOccurrences = !{tableData};
	include mapascripts