extends ../../../layouts/layout

block content
	.container-fluid
		.row-fluid
			section#map-filter-area
				.tabbable
					ul.nav.nav-pills
						#actual-search-stats-data
							span.title Total 287.427 registros 
								span.subtitle (mostrando 147.212 georeferenciados)
						li.pull-right
							a(href='#tab2', data-toggle='tab') Vista tabla
						li.active.pull-right
							a(href='#tab1', data-toggle='tab') Vista mapa
					#filterZone.open
						include filterWindow
					.tab-content
						.tab-pane.active(id='tab1')
							#pane
								#mapa
						.tab-pane(id='tab2')
							h1= title
							p Welcome to #{title}
	include mapascripts
	script
		var markers = new L.MarkerClusterGroup(/*{ disableClusteringAtZoom: 15 }*/);
		var occurrences = !{data};
		$.each(occurrences, function(i, occurrence) {
			var marker = new L.Marker(new L.LatLng(occurrence.latitude, occurrence.longitude), { title: occurrence.canonical + ' (' + occurrence.num_occurrences + ')' });
			marker.bindPopup(occurrence.canonical + ' ' + occurrence.num_occurrences);
			markers.addLayer(marker);
		});
		/*var seen = [];
		var json = JSON.stringify(markers, function(key, val) {
			if (typeof val == "object") {
				if (seen.indexOf(val) >= 0)
					return;
				seen.push(val);
			}
			return val
		});*/

		/*var sopas = map.addLayer(markers);*/

		var anotherLayers = {
			'Puntos densidad': map.addLayer(markers)
		}
		L.control.layers(anotherLayers).addTo(map);