.modal-dialog
	.modal-content
		.modal-header
			h4
				font-family Helvetica, 'Helvetica Neue', Arial, sans-serif
				font-weight normal
				font-size 1.5em
		.modal-body
			.modal-body-content
				width 400px
				margin auto
				padding-top 15px
				.col-sm-8
					padding-left 0px
					.radio
						p
							line-height 1.6em
#modalDownloadAllSuccess
#modalDownloadAllFail
	.modal-body
		img
			display block
			margin auto
		.modal-body-content
			h3
				font-family 'Open sans', Helvetica, Verdana, Helvetica, Arial
				font-size 24px
				text-align center
			p
				text-align center
				padding-top 10px

