@import url(http://fonts.googleapis.com/css?family=Open\+Sans:300italic,400italic,400,300);
@import url(http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic);

/* Heredados diseño Carlos Cubillos */
body
	font-size 80%
	color #333
	background #f2eee3 url("../images/noise1.png") repeat 0 0
	font-family 'Open sans', Helvetica, Verdana, Helvetica, Arial
	text-align left
	padding 0
	margin 0
h4
	font-size 1.4em
h1, h2, h3, h4, h5, h6
	font-family 'Economica', Helvetica, Arial, sans-serif
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
p
	line-height 1.3em
	margin 10px 0 10px 0
#container
	padding 0px
	max-width 1300px
	min-width 1024px
	margin 0 auto
	#topmenu
		margin -50px 19px 0 0
		font-size 1.8em
		font-family 'Economica', Arial, Helvetica, sans-serif
		text-transform uppercase
		text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
		width 700px
		text-align right
		position relative
		z-index 500
		float right
		padding 0
		color white
		ul
			margin 0
			padding 0
			width 700px
			li
				display inline-block
				list-style none
				padding-left 6px
				background none repeat scroll 0 0 rgba(255, 255, 255, 0.3)
				padding 0
				text-align right
				line-height 1.3em
		a
			border 0
			color #2288C9
			padding 0 5px
			&:hover
			input[type=submit]:hover
				-webkit-transition all 600ms ease
				-moz-transition all 600ms ease
				-ms-transition all 600ms ease
				-o-transition all 600ms ease
				transition all 600ms ease
				border 0
				opacity .6
				background #2288C9
				color white
			&:link
				border-bottom 0px dashed transparent
				text-decoration none
#header
	margin 0
	padding 20px 25px
	background-image url("../images/flower_top.png"), url("../images/shadow_top.png")
	background-repeat no-repeat, no-repeat
	background-position center -40px, bottom center
#quickSearch
	float right
	margin -20px 0 0 0
	padding 10px
	text-align right
	background-color #1888c9
	-webkit-border-radius 0 0 20px 20px
	border-radius 0 0 20px 20px
	fieldset
	form
		margin 0
		padding 0
		border 0
	#query
		margin 0px
		padding 7px
		width 340px
		font-size 1em
		-webkit-border-radius 15px
		border-radius 15px
		background-color #fffff
		background rgba(255,255,255,0.8)
		border 0px
		-webkit-box-shadow inset 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
		box-shadow inset 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
	#go
		display inline-block
		margin 2px 0 0 -35px
		padding 13px
		color white
		text-decoration none
		border 0
		position absolute
		background url("../images/lupa.png") no-repeat center center
fieldset
	border 0px
	margin 10px 0
	-webkit-border-radius 20px
	border-radius 20px
	padding 20px
/* Fin diseño heredado Carlos Cubillos */

/* Estilos area contenido mapa */
.container-fluid
	padding-left 0px
	padding-right 0px
#pane
	position relative
	top 0px
	bottom 0px
	right 0px
	width 100%
#mapa
	width 100%
	padding 0px
	height 600px
.leaflet-control-layers-expanded
	height 300px
	overflow-y scroll
	-webkit-overflow-scrolling touch
/* Fin estilos area contenido mapa */

/* Estilos tab area y tab buttons para elegir vistas */
#map-filter-area
	.tabbable
		.nav
			margin-bottom 3px
			border-bottom 1px #bbbbbb solid
			margin-left 20px
			margin-right 20px
	#actual-search-stats-data
		float left
		font-size 1.1em
		line-height 30px
		.subtitle
			font-weight normal

/* Estilos ventana filtro de búsqueda */
#filterZone
	position absolute
	left 50px
	top 200px
	z-index 10000
	width 340px
	.filterBox
		margin-right 0px
		margin-top 0px
	#top-filterZone
		height 30px
		background-color rgba(231, 231, 231, 0.7)
		border-radius 5px 5px 0px 0px
		background unquote('url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==)')
		background -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(230,230,230,0.7) 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(230,230,230,0.7)))
		background -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(230,230,230,0.7) 100%)
		background -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(230,230,230,0.7) 100%)
		background -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(230,230,230,0.7) 100%)
		background linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(230,230,230,0.7) 100%)
		filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff',endColorstr='#b3e6e6e6',GradientType=0)")
		.title-window
			float left
			padding-left 15px
			padding-top 3px
			cursor move
		.minimize-maximize-button
			float right
			height 30px
			width 30px
			border-left-color #cccccc
			border-left-style solid
			border-left-width 1px
#filterZone.open
	#top-filterZone
		.minimize-maximize-button
			background-color #e6e6e6
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background unquote('url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==)')
			background -moz-linear-gradient(top, rgba(229,229,229,0.7) 0%, rgba(206,206,206,0.7) 100%) /* FF3.6+ */
			background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.7)), color-stop(100%,rgba(206,206,206,0.7))) /* Chrome,Safari4+ */
			background -webkit-linear-gradient(top,  rgba(229,229,229,0.7) 0%,rgba(206,206,206,0.7) 100%) /* Chrome10+,Safari5.1+ */
			background -o-linear-gradient(top,  rgba(229,229,229,0.7) 0%,rgba(206,206,206,0.7) 100%) /* Opera 11.10+ */
			background -ms-linear-gradient(top,  rgba(229,229,229,0.7) 0%,rgba(206,206,206,0.7) 100%) /* IE10+ */
			background linear-gradient(to bottom,  rgba(229,229,229,0.7) 0%,rgba(206,206,206,0.7) 100%) /* W3C */
			filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3e5e5e5', endColorstr='#b3cecece',GradientType=0)")
			-webkit-box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
			-moz-box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
			box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
.round
	background-color rgba(231, 231, 231, 0.7)
	border 1px solid #A8A7A5
	border-radius 5px 5px 5px 5px
.caret
	display inline-block
	width 0
	height 0
	vertical-align top
	border-top 4px solid #000000
	border-right 4px solid transparent
	border-left 4px solid transparent
	content ""
	margin-top 12px
	margin-left 10px
h4#addSearchFilter
h4#currentSearch
	margin 0px 0 5px 0px
	padding 0
/* Internet Explorer 9 gradient compatibility */
.gradient
	filter none
#filtersContainerHelp
	background-color rgba(231, 231, 231, 0.8)
	position absolute
	left 340px
	top 30px
	right -300px
	#topFiltersContainerHelp
		background-color rgba(231, 231, 231, 0.8)
		padding-top 5px
		padding-right 5px
		padding-left 5px
		height 30px
		a.close-icon-filter-help
			float right
			&:hover
				cursor pointer
	#contentFiltersContainerHelp
		background-color rgba(231, 231, 231, 0.8)
		height 500px
		overflow hidden
		.mCSB_container
			background-color rgb(175, 175, 175)
		.contentFiltersContainerHelpContainer
			padding-left 5px
		.item
			min-height 18px
			padding-bottom 8px
			padding-top 8px
			padding-left 15px
			border-bottom 1px rgb(177, 177, 177) solid
			border-top 1px rgb(177, 177, 177) solid
			background-color #ebebeb
			margin-top -1px
			float left
			&:hover
				background-color #683C0C
				color white
			span
				float left
				width 190px
				padding-right 5px
				text-overflow ellipsis
				overflow-x hidden
			em
				float right
				width 50px
			a
				float right
				width 20px
				padding-right 5px
		table
			tr
				td
					padding 5px
				&:hover
					td
						background-color #683C0C
						color white
#filtersContainer
	display block
	#explorerFiltersAndEditor
		padding 10px 20px 10px 20px
		#filterEditorPane
			width auto
			vertical-align top
			.filter
				select, input
					font-size 13px
					font-family 'Open sans', Helvetica, Verdana, Helvetica, Arial
				span.type
					margin-right 10px
					select
						width 180px
				span.predicate
					select
						width 100px
				span.value
					margin-bottom 1em
					input
						width 260px
					select.daySelect
						width 55px
						padding 5px
					select.monthSelect
						width 110px
						padding 5px
					input.yearInput
						width 100px
						padding 5px
						margin-left 5px
						margin-bottom 10px
			#selectedFilterHelp
				width auto
				font-size 90%
				margin-right 15px
				.taxonomyFilterHelp
					height auto
					background url('/images/icons/idea_1.png') no-repeat center left
					padding-left 55px
					color #333
				p:first-child
					color #595045
					font-weight bold
			#filterWizard
				float left
				margin-right 10px
				min-height 150px
		#constructedFiltersPane
			width 300px
			min-width 250px
			#constructedFilters
				height 100%
				vertical-align top
				padding 20px
				background-color rgba(239, 107, 45, 0.3)
				-webkit-border-radius 20px
				border-radius 20px
				h4#currentSearch
					margin 0px 0 5px 0px
					padding 0
				p
					color #595045
					&.emptySearch
						margin 10px 0px 10px 0px
				ul
					padding 6px 12px
					margin-top 5px
					color #000000
					list-style none
					-webkit-border-radius 10px
					border-radius 10px
					&.filterItem
						background-color rgba(104, 60, 12, 0.2)
						margin 0px
						margin-bottom 5px
						img
							padding-left 5px
.btn-add-filter
	color rgb(255, 255, 255)
	background-color #683C0C
	background-image -moz-linear-gradient(top,#B36E23,#683C0C)
	background-image -webkit-gradient(linear,0 0,0 100%,from(#B36E23),to(#683C0C))
	background-image -webkit-linear-gradient(top,#B36E23,#683C0C)
	background-image -o-linear-gradient(top,#B36E23,#683C0C)
	background-image linear-gradient(to bottom,#B36E23,#683C0C)
	text-shadow 0 1px 1px rgba(0,0,0,0.75)
	border-radius 10px
	-webkit-border-radius 10px
	margin-top 8px
	text-transform uppercase
	font-weight bold
	&:hover
		color rgb(255, 255, 255)
		background-color #683C0C
		background-image -moz-linear-gradient(top,#B36E23,#683C0C)
		background-image -webkit-gradient(linear,0 0,0 100%,from(#B36E23),to(#683C0C))
		background-image -webkit-linear-gradient(top,#B36E23,#683C0C)
		background-image -o-linear-gradient(top,#B36E23,#683C0C)
		background-image linear-gradient(to bottom,#B36E23,#683C0C)
		text-shadow 0 1px 1px rgba(0,0,0,0.75)
/* Fin estilos ventana filtro de búsqueda */

/* Estilos de apoyo */
.loading
	background-image url("/images/loading/ajax-loader.gif")
	background-position center center
	background-repeat no-repeat
	opacity .5
	-moz-opacity .5
.hide-element
	visibility hidden
/* Fin de estilos de apoyo */

/* Estilos ventana detalles registro biológico */
#occurrenceDetail
	background-color rgba(231, 231, 231, 0.8)
	position absolute
	left 340px
	top 30px
	right -450px
	#topOccurrenceDetail
		background-color rgba(231, 231, 231, 0.8)
		padding-top 5px
		padding-right 5px
		padding-left 5px
		height 30px
		a.close-icon-filter-help
			float right
			&:hover
				cursor pointer
	#occurrenceDetailContainer
		background-color rgba(231, 231, 231, 0.8)
		height 500px
		overflow hidden
		.contentOccurrenceD
		etailContainer
			padding-left 5px
			.occurrence
				padding-left 15px
				padding-right 15px
				h2
					margin-top 0px
					font-size 2.3em
				dl
					margin 0 0 18px 0
					padding 0
					&.previewTaxon
						color #666666
						dt
							font-weight normal
						dt, dd
							display inline
						dd
							span
								color #22241e
								font-weight bold
							&:after
								content " › "
								margin 0px
					&.preview-data
						float left
						width 100%
						dt
							clear both
							float left
							font-weight bold
							margin-right 18px
							padding 3px 0
							width 33%
						dd
							float right
							margin 0
							padding 3px 0
							width 60%
/* Fin estilos ventana detalles registro biológico */