block footer
	script.
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1418857-10']);
		_gaq.push(['_setDomainName', 'sibcolombia.net']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	// Including google maps API
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC69q4cWqAg7oJHdYNu9ZTl2C6zSaTrUeA&sensor=false")
	// Including RequiereJS module loader
	script(data-main="/javascripts/main", src="/javascripts/require.js")
	script(src='https://www.google.com/recaptcha/api.js?hl=es-419' async defer)
