block header

		header.sib
			div
				a.logo(href='http://maps.sibcolombia.net')
					img(src='/images/standard/logo_dataportal.png', alt='PORTAL DE DATOS SIB COLOMBIA')

				block top-menu
				nav
					//a(href='http://maps.sibcolombia.net/') Principal

					div.share_icons
						a(href='http://www.sibcolombia.net', title='Ir a la página principal de SIB Colombia', target='_blank')
							img(src='images/standard/ico_portal.png', alt='Vínculo a la página web del SIB Colombia')
						span
						a(href='http://www.twitter.com/sibcolombia', target='_blank', title='Sib Colombia en Twitter')
							img(src='images/standard/ico_twitter.png', alt='')
						a(href='https://www.facebook.com/SibColombia', target='_blank', title='Sib Colombia en Facebook')
							img(src='images/standard/ico_fb.png', alt='')
						a(href='http://www.youtube.com/sibcolombia', target='_blank', alt='Sib Colombia en Youtube')
							img(src='images/standard/ico_youtube.png')
