block header

		header.sib
			div
				a.logo(href='http://maps.sibcolombia.net')
					img(src='/images/standard/logo_dataportal.png', alt='PORTAL DE DATOS SIB COLOMBIA')

				block top-menu
				nav
					//a(href='http://maps.sibcolombia.net/') Principal

					div.share_icons
						a(href='http://www.sibcolombia.net', title='Ir a la página principal de SIB Colombia', target='_blank')
							img(src='images/standard/ico_portal.png', alt='Vínculo a la página web del SIB Colombia')
