doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/leaflet/leaflet.css')
		link(rel='stylesheet', href='/stylesheets/leaflet/leaflet.ie.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-markercluster/MarkerCluster.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-markercluster/MarkerCluster.Default.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-markercluster/MarkerCluster.Default.ie.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/css/distance.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/css/osb.css')
		link(rel='stylesheet', href='/stylesheets/custom-scrollbar/jquery.mCustomScrollbar.css')
		link(rel='stylesheet', href='/stylesheets/kendo/styles/kendo.common.min.css')
		link(rel='stylesheet', href='/stylesheets/kendo/styles/kendo.flat.min.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/fullscreen/Control.FullScreen.css')
	body
		#wrapper
			include includes/header
			block content
			include includes/footer