doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/rangeslider/rangeslider.css')
		link(rel='stylesheet', href='/stylesheets/kendo/styles/kendo.common.min.css')
		link(rel='stylesheet', href='/stylesheets/kendo/styles/kendo.flat.min.css')
		link(rel='stylesheet', href='/stylesheets/select2/select2.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/css/distance.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/css/osb.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/fullscreen/Control.FullScreen.css')
		link(rel='stylesheet', href='/stylesheets/leaflet/leaflet.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-zoom-slider/leaflet-zoom-slider.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-markercluster/MarkerCluster.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-markercluster/MarkerCluster.Default.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-markercluster/MarkerCluster.Default.ie.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-sidebar/L.Control.Sidebar.css')
		link(rel='stylesheet', href='/javascripts/lib/leaflet/plugins/draw/leaflet.draw.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.wrapper
			.ribbon-wrapper-green
				.ribbon-green BETA
		#wrapper
			include includes/header
			block content
			include includes/footer
